<nav class="navbar navbar-expand-lg ">
   <a class="navbar-brand" href="#home"><img src="../../assets/images/logo-min.svg" alt="thenewoldgallery_logo"></a> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a href="#como" class="nav-link"><img src="../../assets/images/simbolo2.svg" alt="thenewoldgallery_simbolo"></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#que" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="../../assets/images/simbolo1.svg" alt="thenewoldgallery_simbolo">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">CALENDARIO</a>
              <a class="dropdown-item" href="#">EVENTOS</a>
              <a class="dropdown-item" href="#">NO-EXPOS</a>
            </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#galeria" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#app"><img src="../../assets/images/simbolo4.svg" alt="thenewoldgallery_simbolo"></a>
        </li>
      </ul>
    </div>
</nav>




<!-- <div class="icon-bar navbar navbar-expand-lg">
    <a href="#como"><img src="../../assets/images/simbolo2.svg" alt="thenewoldgallery_simbolo"></a>
    <a href="#que"><img src="../../assets/images/simbolo1.svg" alt="thenewoldgallery_simbolo"></a>
    <a href="#galeria"><img src="../../assets/images/simbolo3.svg" alt="thenewoldgallery_simbolo"></a>
    <a href="#app"><img src="../../assets/images/simbolo4.svg" alt="thenewoldgallery_simbolo"></a>
  </div> -->