<div class="navbar">
    <div class="navbar-brand">
        <a href="#home"><img src="../../assets/images/logo-min.svg" width="20em" height="" alt="home"></a>    
    </div>

    <a href="#como">
      <img src="../../assets/images/simbolo2.svg" width="20em" height="" alt="thenewoldgallery_simbolo"></a>

    <div class="dropdown">
        <button class="dropbtn" (click)="buttonNav()" id="mydropdown">
          <img src="../../assets/images/simbolo1.svg" width="20em" height="" alt="thenewoldgallery_simbolo"> ↓
        </button>
        <div class="dropdown-content show" id="DropdownQue">
          <a href="#calendario">🗓Calendario</a>
          <a href="#eventos">🎟Eventos</a>
          <a href="#que">👁No.Expos</a>
        </div>
      </div> 

    <div class="dropdown">
      <button class="dropbtn" (click)="buttonNav()">
        <img src="../../assets/images/simbolo3.svg" width="20em" height="" alt="thenewoldgallery_simbolo"> ↓
      </button>
      <div class="dropdown-content" id="DropdownGaleria">
        <a href="#busqueda">🔍Búsqueda</a>
        <a href="#galeria">📓Listado Galería</a>
      </div>
    </div> 

    <a href="#app"><img src="../../assets/images/simbolo4.svg" alt="thenewoldgallery_simbolo" width="20em" height="" alt="app_thenogallery"></a>

  </div>
  



<!-- <div class="icon-bar navbar navbar-expand-lg">
    <a href="#como"><img src="../../assets/images/simbolo2.svg" alt="thenewoldgallery_simbolo"></a>
    <a href="#que"><img src="../../assets/images/simbolo1.svg" alt="thenewoldgallery_simbolo"></a>
    <a href="#galeria"><img src="../../assets/images/simbolo3.svg" alt="thenewoldgallery_simbolo"></a>
    <a href="#app"><img src="../../assets/images/simbolo4.svg" alt="thenewoldgallery_simbolo"></a>
  </div> -->