<!--<div class="navbar">
    <div class="navbar-brand">
        <a href="#home"><img src="../../assets/images/logo-min.svg" width="20em" height="" alt="home"></a>    
    </div>

    <a href="#como">
      <img src="../../assets/images/simbolo2.svg" width="20em" height="" alt="thenewoldgallery_simbolo"></a>

    <div class="dropdown">
        <button class="dropbtn" (click)="buttonNav()" id="mydropdown">
          <img src="../../assets/images/simbolo1.svg" width="20em" height="" alt="thenewoldgallery_simbolo"> ↓
        </button>
        <div class="dropdown-content show" id="DropdownQue">
          <a href="#calendario">🗓Calendario</a>
          <a href="#eventos">🎟Eventos</a>
          <a href="#que">👁No.Expos</a>
        </div>
      </div> 

    <div class="dropdown">
      <button class="dropbtn" (click)="buttonNav()">
        <img src="../../assets/images/simbolo3.svg" width="20em" height="" alt="thenewoldgallery_simbolo"> ↓
      </button>
      <div class="dropdown-content" id="DropdownGaleria">
        <a href="#busqueda">🔍Búsqueda</a>
        <a href="#galeria">📓Listado Galería</a>
      </div>
    </div> 

    <a href="#app"><img src="../../assets/images/simbolo4.svg" alt="thenewoldgallery_simbolo" width="20em" height="" alt="app_thenogallery"></a>
</div>
-->

<nav class="navbar navbar-expand-lg navbar-light bg-white scrolling-navbar fixed-top">
<!--Icono brand-->
  <div class="container">
  <a class="navbar-brand nav-link" href="#home"><img src="../../assets/images/logo-min.svg" width="20em" height="" alt="home"><span class="sr-only">(current)</span></a>
</div>
<!--button collapse-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<!--Iconos navegavion-->
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link men" href="#como">
          <img src="../../assets/images/simbolo2.svg" width="30em" height="" alt="thenewoldgallery_simbolo"></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link men" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="../../assets/images/simbolo1.svg" width="30em" height="" alt="thenewoldgallery_simbolo">
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <p class="dropdown-item titulo">Galería urbana</p>
          <a class="dropdown-item" href="#calendario">🗓Calendario</a>
          <a class="dropdown-item" href="#que">🤳🏼No.Expos</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link men" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="../../assets/images/simbolo3.svg" width="30em" height="" alt="thenewoldgallery_simbolo">
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <p class="dropdown-item titulo">Galería</p>
          <a class="dropdown-item" href="#busqueda">🔍Búsqueda</a>
          <a class="dropdown-item" href="#galeria">👁Listado Galería</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link men" href="#app"><img src="../../assets/images/simbolo4.svg" alt="thenewoldgallery_simbolo" width="30em" height="" alt="app_thenogallery"></a>
      </li>
    </ul>
<!--Iconos EN/ES-->
    <ul class="navbar-nav nav-flex-icon">
      <li class="contact"><a class="contact" href="#contact"> ⤷ Participa! </a></li>
    </ul>
    
  </div>
</nav>



<!-- <div class="icon-bar navbar navbar-expand-lg">
    <a href="#como"><img src="../../assets/images/simbolo2.svg" alt="thenewoldgallery_simbolo"></a>
    <a href="#que"><img src="../../assets/images/simbolo1.svg" alt="thenewoldgallery_simbolo"></a>
    <a href="#galeria"><img src="../../assets/images/simbolo3.svg" alt="thenewoldgallery_simbolo"></a>
    <a href="#app"><img src="../../assets/images/simbolo4.svg" alt="thenewoldgallery_simbolo"></a>
  </div> -->