*{
    box-sizing: border-box;
    font-family: poppins;
    font-size: 1em;
  }
    
/* Navbar container */
.navbar {
  width: 100%;
  height: 10%;
  border-bottom: 1px solid black;
  box-shadow: none;
  }
.container{
  width: 10%;
}
/* Icon-home__inside the navbar */ 
.navbar-brand {
  margin-left: -1em; 
}
.navbar-brand img{
  width:2em;
}
/* Icons__inside the navbar */ 
.nav a {
    float: left;
    font-size: 3em;
    text-decoration: none;
  }
.men{
  margin-left: 4em;
  margin-right: 4em;
}

/* Icons__CONTACT: ☻⁈ */ 
.contact{
  text-decoration: none;
  color: black;
  transition: 0.5s;
  font-family: titania;
  font-size: 1.2em;
}
.contact:hover{
  text-decoration: none;
  color:blue; 
  /*text-decoration: underline; 
  /* text-decoration-style: wavy; */
}
/* menu dropdown */
.titulo{
  height: 24px;
  color: black;
  font-size: 1em;
  font-family: titania;
  border-bottom: 1px solid black;
  margin-top:-10px;
}

div .dropdown-menu.show{
border: 1px solid black;
box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
margin-top:5%;
}


/* navbar contraido: menu dropdown */
.navbar-collapse .collapse .show{
  color: rgba(0,0,0,.5);
  background-color: #fff;
  border-bottom: 1px solid black;
  width: 120px;
  margin: 0 auto;
}