<div class="social">
  <span> 
    <p><span class="">Anilla Studio</span> &copy; 2019<span class="poppins"></span> — anillastudio@gmail.com</p>
    <span class="">
        <a href="http://www.instagram.com/anillastudio">instagram</a>
        <a href="" class="disabled">behance</a>
        <p class="message">The New Old Gallery, <span class="poppins">versión</span> beta <span class="poppins">hecha con mucho  ♥️ por</span> Ana S-Fresneda & Sara Pinilla. <span class="poppins">Madrid, marzo 2019</span></p>
    </span>
  </span>
</div>
