*{
    font-weight: 700;
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
}

h3{
    font-size: 5em;
}

.lista{
    margin-left: 50px;
    font-size: 1.2em;
    line-height: 160%;
}

.poppinsItalic{
    font-weight: 700;
    font-style: italic;
}

.img{
    width: 25%;
    height: 300px;
    position: relative;
    float: left;
    top: 60px;
    bottom: 300px;
}

/* .img{
    width: 35%;
    height: 300px;
    position: relative;
    float: left;
    top: 80px;
    bottom: 300px;
} */

.num{
    font-size: 2.5em;
    position: absolute;
}

.uno{
    width: 35%;
    position: absolute;
    left: 90px;
    top: 30px;
}

.dos{
    width: 80%;
    position: absolute;
    left: 30px;
    top: 20px;

}

.tres{
    width: 65%;
    position: absolute;
    left: 50px;
    top: 20px;
}

.cuatro{
    position: absolute;
    left: 50px;
    top: 30px;
}