<div class="container" id="funcionamiento">
  <div class="col col-lg-8">
    <h2 >Receta</h2>
    <div class="lista">
      <p>1. Usa tu móvil, <span class="poppinsItalic">like always</span></p>
      <p>2. Busca y encuentra no-expos en la calle</p>
      <p>3. Maagic, fotografía y captura solo con un click desde la app</p>
      <p>4. Accede a nuestra galería virtual y toda la info que necesitas</p>
    </div>
  </div>

  <div class="col col-lg-12">
    <div class="img col-3">
      <p class="num">1</p>
      <img class="uno" src="../../assets/images/recurso-receta1.svg" alt="paso_uno">
    </div>
    <div class="img col-3">
      <p class="num">2</p>
      <img class="dos" src="../../assets/images/recurso-receta2.svg" alt="paso_dos">
    </div>
    <div class="img col-3">
      <p class="num">3</p>
      <img class="tres" src="../../assets/images/recurso-receta3.svg" alt="paso_tres">
    </div>
    <div class="img col-3">
      <p class="num">4</p>
      <img class="cuatro" src="../../assets/images/recurso-receta4.svg" alt="paso_cuatro">
    </div>
  </div>
</div> 

