<div class="container-fuid jijiji" id="funcionamiento">
<!-- titulo -->
  <h2 class="mb-4" id="jijiji">Oye, pero...esto cómo funciona?</h2>
<!-- explicacion -->
  <div class="col-lg-8 col-md-10 col-sm-12 order-md-1 lista">
      <p>1. Usa tu móvil, <span class="poppinsItalic">like always</span></p>
      <p>2. Busca y encuentra no-expos en la calle</p>
      <p>3. Maagic, fotografía y captura solo con un click desde la app</p>
      <p>4. Accede a nuestra galería virtual y toda la info que necesitas</p>
  </div>
<!-- imagenes/GIF -->
  <div class="container-fluid col-lg-12 order-md-2">
    <div class="img col-lg-3 col-md-3 col-sm-6">
      <p class="num">1</p>
      <img class="uno" src="../../assets/images/paso1.gif" alt="paso_uno">
    </div>
    <div class="img col-lg-3 col-md-3 col-sm-6">
      <p class="num">2</p>
      <img class="dos" src="../../assets/images/paso2.gif" alt="paso_dos">
    </div>
    <div class="img col-lg-3 col-md-3 col-sm-6">
      <p class="num">3</p>
      <img class="tres" src="../../assets/images/paso3.gif" alt="paso_tres">
    </div>
    <div class="img col-lg-3 col-md-3 col-sm-6">
      <p class="num">4</p>
      <img class="cuatro" src="../../assets/images/paso4.gif" alt="paso_cuatro">
    </div>
  </div>
</div> 

