@font-face {
    font-family: Poppins;
    src: url(../../assets/fonts/Poppins-Medium.ttf) format("opentype");
    src: url(../../assets/fonts/Poppins-MediumItalic.ttf) format("opentype");
    src: url(../../assets/fonts/Poppins-Bold.ttf) format("opentype");
}

*{
    font-family: Poppins-Bold;
}

.receta{
    width: 60%;
    height: 0 auto;
    margin: 120px;
    font-size: 1.2em;
}

h3{
    font-size: 4em;
    margin-left: -50px;
    margin-bottom: 20px;
}

div .lista{
    line-height: 10px;
}

.poppinsItalic{
    font-family: Poppins-MediumItalic;
}

div .img{
    position: relative;
    left: 600px;
    top: -80px;
}

.paso{
    font-size: 2em;
    
}

.uno{
    position: absolute;
    width: 8%;
}

.dos{
    position: absolute;
    width: 16%;
    left: 400px;
}

.tres{
    position: absolute;
    width: 13%;
    top: 290px;
    left: -50px;

}

.cuatro{
    position: absolute;
    width: 17%;
    top: 290px;
    left: 400px;
}

