<div class="wrapper">
  <div class="receta">
    <h3>Receta</h3>
    <div class="lista">
      <p>1. Usa tu móvil, <span class="poppinsItalic">like always</span></p>
      <p>2. Busca y encuentra no-expos en la calle</p>
      <p>3. Maagic, fotografía y captura solo con un click desde la app</p>
      <p>4. Accede a nuestra galería virtual y toda la info que necesitas</p>
    </div>
  </div>

  <div class="img">
    <img class="uno" src="../../assets/images/recurso-receta1.svg" alt="paso_uno">
    <img class="dos" src="../../assets/images/recurso-receta2.svg" alt="paso_dos">
    <img class="tres" src="../../assets/images/recurso-receta3.svg" alt="paso_tres">
    <img class="cuatro" src="../../assets/images/recurso-receta4.svg" alt="paso_cuatro">
  </div>
</div>

