<div class="container">
  <div class="row">
      <h2>Consigue la app! ↓ </h2>
    <div class="info col-6">
      <p>1.Es una app móvil🤳🏼, sólo puede ser usada a través del <span class="poppinsItalic">smartphone.</span></p>
      <p>2. Si eres <span class="poppinsItalic">organizador</span> y quieres enviarnos alguna de tus actividades, escríbenos a <span class="poppinsItalic">noexpo@thenogallery.es!!</span></p>
      <p>3. Si te interesa colaborar como <span class="poppinsItalic">creador</span> y quieres formar parte de nuestra pequeña familia <span class="poppinsItalic">clickea </span>en nuestro nav bar</p>
      <p>4. Ayudanos a mejorar! Si te interesa colaborar, proponernos cosas, puedes ponerte en contacto con nosotrxs, tomar unas cervezas 🍻... </p>
      <span class="chartitania">¿a qué esperas?</span>
    </div>
    <div class="img col-5">
        <img class="appimg" src="../../assets/images/app.svg" alt="app_thenogallery">
    </div>
  </div>
</div>
