*{
    font-weight: 700;
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
}
.container{
    margin-bottom: 80px;
    
}
.container::before{
    content: "";
	height: 75px;
	display:block;
    clear: both;
}

.cabecera{
    display: inline-block;
}

h2{
    font-size: 5em;
}
/* BUSCADOR */
input{
    font-weight: 500;
    font-style: italic;
    width: 100%;
    color:rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 50px;
}

input:hover{
    border-bottom: 1px solid rgba(0,0,0,0.6);
}
/* En input SEARCH QUITAR EL FOCUS por defecto (HIGHLIGTHER BORDER) */
 .md-form input[type=text]:focus:not([readonly]){
    -webkit-box-shadow: 0 1px 0 0 black;
    box-shadow: 0 1px 0 0 black; 
    border-bottom: 1px solid black; 
 }

/* INICIO SÍMBOLOS */

.symbol{
    display: inline-block;
    padding:5%;
}

.uno,.dos,.tres,.cuatro{
    width: 80%;
}

/* FIN SÍMBOLOS */

/* INICIO LISTA GALERÍA */

.titulos p{
    font-size: 2em;
    display: inline;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.lista{
    cursor: pointer;
    border-bottom: 1px solid black;
    width: 100%;
    height: 50px; 
}


.lista p{
    font-size: 1.5em;
    font-weight: 500;
    display: inline;
    font-family: Titania;
    text-align: center;
    padding: 10px;
}

.lista div{
    width: 100%;
    height: inherit;
    padding: 10px 0px;
    text-align: center;
}

.lista div p{
    font-size: 1.5em;
    font-weight: 500;
}

.lista:hover{
    color: mediumspringgreen;
}

#aut{
    font-size: 1.3em;
}

#cat{
    font-size: 1.1em;
}

/*MAGIC COVER-PIC*/

.listacontenedor{
    /* height: 100px; */
    overflow: hidden; /*or auto*/
    position: relative;
    margin-bottom: 250px; /*separacion downloadComponent*/
}

.piccover{
    justify-content: center;
    position: absolute;
    top: 44px;
    width: 100%;
    z-index: -1;
}
/* FIN LISTA GALERÍA */

/* MEDIAS QUERY */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 


 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 


 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 


 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

    
 }