*{
    font-weight: 700;
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
/* ANCLA HREF */
.container-fluid::before{
    content: "";
	height: 80px;
	display:block;
    clear: both;
    margin-top:20%;
}
 
.container-fluid{
    width: 100%; 
    padding-right: 0px !important;
    padding-left: 0px !important;
    /* margin-right: auto;
    margin-left: auto; */
    /* margin-bottom: 550px; */
}
.col-sm-12{
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
h2, .row,  .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.titulo, .lista, .listacontenedor{
    /* flex: 0 0 66.666667%; */
    max-width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    }

.cabecera{
    display: inline-block;
    /* margin-top: 20%; */
}

h2{
    font-size: 5em;
    padding-bottom: 2%;
}
/* BUSCADOR */
input{
    font-weight: 500;
    font-style: italic;
    width: 100%;
    color:rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 50px;
}

input:hover{
    border-bottom: 1px solid rgba(0,0,0,0.6);
}
/* En input SEARCH QUITAR EL FOCUS por defecto (HIGHLIGTHER BORDER) */
 .md-form input[type=text]:focus:not([readonly]){
    -webkit-box-shadow: 0 1px 0 0 black;
    box-shadow: 0 1px 0 0 black; 
    border-bottom: 1px solid black; 
 }

/* INICIO SÍMBOLOS */

.symbol{
    display: inline-block;
    padding:5%;
}

.uno,.dos,.tres,.cuatro{
    width: 50%;
}

/* FIN SÍMBOLOS */

/* INICIO LISTA GALERÍA */

.titulos p{
    font-size: 2em;
    display: inline;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.lista{
    cursor: pointer;
    border-bottom: 1px solid black;
    width: 100%;
    height: 50px; 
}


.lista p{
    font-size: 1.5em;
    font-weight: 500;
    display: inline;
    font-family: Titania;
    text-align: center;
    padding: 10px;
}

.lista div{
    width: 100%;
    height: inherit;
    padding: 10px 0px;
    text-align: center;
}

.lista div p{
    font-size: 1.5em;
    font-weight: 500;
}

.lista:hover{
    color: mediumspringgreen;
}

#aut{
    font-size: 1.3em;
}

#cat{
    font-size: 1.1em;
}

/*MAGIC COVER-PIC*/

.listacontenedor{
    /* height: 100px; */
    overflow: hidden; /*or auto*/
    position: relative;
    margin-bottom: 250px; /*separacion downloadComponent*/
}

.piccover{
    justify-content: center;
    position: absolute;
    top: 44px;
    width: 100%;
    z-index: -1;
}
/* FIN LISTA GALERÍA */

/* MEDIAS QUERY */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    h2{
        font-size: 3em;
        padding-bottom: 2%;
    }
    .titulos p{
        font-size: 0.8em;
        display: inline;
        text-align: center;
        padding-bottom: 2%;
        padding-top: 2%;
    }
    /* .d-md-block{
        display: hidden;
    } */

    .lista p{
        font-size: 0.6em;
        font-weight: 500;
        display: inline;
        font-family: Titania;
        text-align: left;
        padding: 5px;
    }
    .lista div{
        width: 100%;
        height: inherit;
        padding: 5px 0px;
        text-align: center;
    }
    
    .lista div p{
        font-size: 0.5em;
        font-weight: 500;
    }
    
    .lista:hover{
        color: mediumspringgreen;
    }
    #aut[_ngcontent-c6] {
        font-size: 0.8em;
    }
    #cat[_ngcontent-c6] {
        display: none;
    }
    #cyr[_ngcontent-c6] {
        display: none;
    }
    
   
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 


 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 


 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 


 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

    
 }