*{
    font-weight: 700;
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
    align-items: center;
}
/* QUITAR EL FOCUS por defecto (HIGHLIGTHER BORDER) */
*:focus {
    outline:none;
}

input[type=email]:focus, input[type=password]:focus {
    border-bottom: 1px solid black;
   color:blue;
  }

/* .h2{
    margin-top: 60px;
    font-size: 3em;
} */

/* class TITANIA */
.titania{
    font-family: Titania;
    font-weight: 400;
    font-size: 1.1em;
}
.info{
    
    font-size: 0.7em;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 8em;
}

*, ::after, ::before {
    box-sizing: border-box;
}

form {
    display: block;
}

.signform{
    border: 1px solid black;
    padding: 30px;
    border-radius: 3%;
}

/* custom BOTON */
.customboton{
    font-size: 1em;
    border: 1px solid black;
    transition: 0.5s;
    margin-top: 30px;
    box-shadow: none;

}
.customboton:hover{
    box-shadow: 4px 4px black;
}

/* INPUTS */
input{
    /* border: 1px solid black; */
    border-bottom: 1px solid black;
    border-radius: 0%;
    background-color:rgba(0,0,0,0,0);
    width: 100%;
}
[_ngcontent-c2] {
    color:black;
     font-weight:400;   
}

.text-center {
    text-align: center!important;
}


