<form class="form-signin text-center">
  <!-- LOGO -->
    <img class="logo mb-4" src="../../assets/images/logo.svg" alt="" width="160" height="160">
    <p class="mb-3 info"> 👽 Users only 👽</p>
  <!-- INPUTS -->
  <div class="signform">
    <!-- mail -->
    <label class="sr-only"> mail</label>
    <input type="email" id="inputEmail" class="mb-3" placeholder="admin mail" #inputEmail>
    <!-- clave -->
    <label class="sr-only">clave</label>
    <input type="password" id="inputPassword" class="" placeholder="clave" #inputClave>

  </div>
    <button class="btn customboton btn-block titania" type="submit" (click)="singIn(inputEmail.value, inputClave.value)">Log in →</button>
  </form>
 

