<br>
<br>
<br>
<br>
<body class="bg-light pt-3">
  <div class="container">
    <div class="mb-5 mt-3">
      <h2 class="text-fluid">Conócenos un poco más</h2>
    </div>
    <div class="row">
      <!-- Parte 2 -->
      <div class="col-md-4 order-md-2 mb-4">
        <!-- IMAGENES -->
        <div class="col-sm-12 mb-3">
            <img class="pic1" src="./assets/images/AnaPic.svg" alt="AnaMemberPic">
        </div>

        <div class="col-sm-12 pt-6">
            <img class="pic2" src="./assets/images/PiniPic.svg" alt="PiniMemberPic">
        </div>
      </div>
      <!-- Parte 1 : info ANILLA -->
      <div class="col-md-7 order-md-1 mr-4">
        <h3 class="d-flex justify-content-between align-items-center mb-3 titania"> anillaStudio
        </h3>
          <small class="small mb-2"> Holaa!, nosotras somos: </small><br>	
          <p class="mb-3">
          <a href="https://www.behance.net/anasfresneda" target="_blank">Ana</a> and <a href="https://www.behance.net/sarapinilla" target="_blank">Sara</a>, we don’t believe in closed fields, but if we have to choose, maybe graphic design and art direction are the best to define what we do. We are almost all creatives and visual artists,and we DO believe in versatility.
        </p>
        <p class="mb-3">
          We started this project time ago, blabablablablablabalblabla.<br>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, accusamus? Facilis eum totam quisquam? Architecto quis animi assumenda, suscipit, perspiciatis quo dolor nulla est maiores repellat fugiat fuga, optio nam.
        </p>
        <h3 class="d-flex justify-content-between align-items-center mb-3 titania"> →Proyecto thenogallery</h3>
        <small class="small mb-2"> ¿Cómo empezó? </small><br>	
        <p class="mb-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, vel eaque animi enim cum vero assumenda laboriosam perspiciatis commodi sequi accusamus provident harum, pariatur voluptatibus quisquam delectus ullam accusantium dolor!
          </p>
          <!-- mailto -->
          <!-- <small class="small mb-2">Get in touch!!→</small><a href="mailto:hello@thenogallery.es"><span class="icon">💌</span></a> -->
          
          <button class="boton mb-5" type="submit"><a href="mailto:hello@thenogallery.es"><span class="icon">get in touch! 💌</span></a> </button>

    
      </div> 

    </div>
  </div>
</body>