<body class="pt-3">
  <div class="container-fluid">
    <div class="mb-5 mt-3">
      <h2 class="text-fluid">Conócenos un poco más</h2>
    </div>
    <div class="row">
      <!-- Parte 2 -->
      <div class="col-md-4 col-sm-12 col-md-4-md-2 mb-4">
        <!-- IMAGENES -->
        <div class="col-md-6 col-sm-12 mb-3 imgdiv">
            <img class="pic1" src="./assets/images/AnaPic.svg" alt="AnaMemberPic">
        </div>

        <div class="col-md-6 col-sm-12 pt-6 imgdiv">
            <img class="pic2" src="./assets/images/PiniPic.svg" alt="PiniMemberPic">
        </div>
      </div>
      <!-- Parte 1 : info ANILLA -->
      <div class="col-md-7 order-md-1 mr-4 texto">
        <h3 class="d-flex justify-content-between align-items-center mb-3 titania"> anillaStudio
        </h3>
          <small class="small mb-2"> Holaa!, nosotras somos: </small><br>	
          <p class="mb-3">
          <a href="https://www.behance.net/anasfresneda" target="_blank">AnaSFresneda</a> y <a href="https://www.behance.net/sarapinilla" target="_blank">Sara Pinilla</a>.<br> Somos dos diseñadoras gráficas residentes en Madrid, España.
        </p>
        <p class="mb-3">
          <span style="font-style:italic">
            "We don’t believe in closed fields, but if we have to choose, maybe graphic design and art direction are the best to define what we do. We are almost all creatives and visual artists,and we DO believe in versatility".</span><br>
        </p>
        <h3 class="d-flex justify-content-between align-items-center mb-3 titania"> →Proyecto thenogallery</h3>
        <small class="small mb-2"> ¿Cómo empezó? </small><br>	
        <p class="mb-5">
            En 2018, como trabajo de final de grado, trabajamos en la idea de una galería digital que conectase los entornos urbanos y el mundo virtual. <br>Este proyecto tiene dos fases: primero, el archivo de obras digitales en una plataforma online, y a continuación, su exposición en la ciudad a través de una app para smartphone. Con ella, pretendemos traer este contenido artístico <span style="font-style:italic">(de diversas naturalezas)</span> a nuestra cotidianidad a través de la tecnología AR.
            <br><br>
            En marzo de 2019, en nuestra formación como Junior Full Stack developers, hemos desarrollado la primera parte del proyecto “The New Old Gallery” en versión beta. Esta web es la plataforma digital donde se archivan todas las piezas que formarán parte de las exposiciones urbanas.

            En este momento estamos desarrollando la versión oficial de nuestra web y la app móvil. Esperamos veros pronto en las calles de Madrid!!
          </p>
          <small class="small mb-2"> Colaboraciones & comunidad </small><br>	
          <p>TheNOGallery es un lugar donde fluctúan y convergen diferentes espacios, estilos, campos artísticos...donde el artista emergente tiene su mayor protagonismo. Esperamos que te sientas tan parte de esto como nosotrxs, y que no dudes ni un momento en aportar tu pieza! Comienza el juego!!!👽 </p>
          <!-- mailto -->
          <!-- <small class="small mb-2">Get in touch!!→</small><a href="mailto:hello@thenogallery.es"><span class="icon">💌</span></a> -->
          
          <button class="boton mb-5" type="submit"><a href="mailto:hello@thenogallery.es"><span class="icon">get in touch! 💌</span></a> </button>
      </div> 

    </div>
  </div>
</body>

<footer></footer>