<!-- {{formRegistro.valid}} -->
<h2 class="header ml-4 pb-2 mt-4 mb-5 text-left">
  Registra tu <span class="titania">pieza</span>! 
</h2>
<p>Form Value: {{ formRegistro.value | json }}</p>
<p>Form Status: {{ formRegistro.status }}</p>
<div class="container">
  <form novalidate
  [formGroup]="formRegistro"
  (ngSubmit)="manejarFormulario()"
  (submit)="submit(form.value)">

    <div class="form row">
      
      <!-- info1 -->
      <div class="col-md-4 mb-5">
        <h3 class="mb-3 titania">1➫Pieza</h3>
        <p class="info mb-5">
          <span class="titania">a.</span>  Rellena los campos con los datos de la pieza que quieras exponer en nuestra galería virtual.<br>
          <span class="titania">b.</span>  Al recibir tu petición, <br>la validaremos y en un período máximo de 5 días recibirás una respuesta! <br>
          <span class="titania">c.</span> Elige las fotos para mostrar tu pieza, tanto  para la cover, como el archivo de la pieza en si misma.
        </p>
      </div>
      <!-- 1-FORM PIEZA -->
        <div class="col-md-5 mb-5"> 
          <!--título-->
          <div class="form-group ">
            <label>título</label><br>
            <!-- validaciones -->
            <small *ngIf="formRegistro.controls.titulopieza.errors?.required && formRegistro.controls.titulopieza.dirty"> ⚠️ Oh vaya,campo obligatorio
            </small>
            <small *ngIf="formRegistro.controls.titulopieza.errors?.maxlength && formRegistro.controls.titulopieza.dirty"> ⚠️ Upss,titulo tiene una extensión máx. de {{formRegistro.controls.titulopieza.errors.maxlength.requiredLength}} ,actualmente hay escritos {{formRegistro.controls.titulopieza.errors.maxlength.actualLength}}
            </small>
            <input class="mb-4" type="text" formControlName="titulopieza">
          </div>
          
          <!--textarea INFO-->
          <div class="form-group ">
            <label>info</label><br>
            <!-- validaciones -->
            <small *ngIf="formRegistro.controls.infopieza.errors?.required && formRegistro.controls.infopieza.dirty"> ⚠️ Oh vaya,campo obligatorio
            </small>
            <small *ngIf="formRegistro.controls.infopieza.errors?.maxlength && formRegistro.controls.infopieza.dirty"> ⚠️ Upss,info tiene una extensión máx. de {{formRegistro.controls.infopieza.errors.maxlength.requiredLength}} ,actualmente hay escritos {{formRegistro.controls.infopieza.errors.maxlength.actualLength}}
            </small>
            <textarea class="form-control mb-4" type="text" formControlName="infopieza" id="textarea1" rows="4"></textarea>
          </div>

          <!-- COVER | PIEZA -->
          <div class="form row mb-4">
            <label class="mb-4">cover
              <p class="info2 mt-2">Imagen de tu pieza:
                Elige tus archivos extensión
                <span class="titania"> .jpg/.gif/.png</span> :
              </p><br>
              <input class="btn custom-boton insertfile" type="file" formControlName="piccover">
            </label>
            <label class="mb-4"> pieza
              <p class="info2 mt-2">
                Url de tu pieza (en caso de video o audio) o archivo
                <span class="titania"> .jpg/.gif/.png</span> :
              </p><br>
              <input class="btn custom-boton insertfile mb-2" type="file" formControlName="picpieza"> 
              <input id="myURL" formControlName="URLpieza" type="url" placeholder="http://www.example.com">
              
            </label>
          </div>

          <!-- multiple select CATEGORIAS -->
          <p class="mb-2" >categorías:</p><br>
          <div class="form-group row">   
            <div class="col-md-6 row" *ngFor= "let cat of categorias.controls; let i=index">
              <input class="form-check-input" type="checkbox" 
              [formControl]="cat"/> 
              <label class="col-md-6 ml-2 mb-3 categoriaslabel"> {{user.categorias[i].name}}</label>
            </div> 
          </div>

            <!-- <div formArrayName="aliases">
                <p class="mb-2" >categorías:</p><br>
            
                <div *ngFor="let cat of categorias.controls; let i=index">
            
                  <label>
                      {{user.categorias[i].name}}
                    <input type="form-check-input" type="checkbox" [formControl]="cat" >
                  </label>
                </div>
              </div> -->


                <!-- <label class="col-md-4 checkbox-inline mb-3"> audio—<br>visual -->

                <!-- <label class="col-md-4 checkbox-inline mb-3" for="checkboxes-0">
                  <input class="mb-2" type="checkbox" name="categorias[]" id="checkboxes-1" value="diggrafico" formControlName="diggrafico">
                  dig—<br>gráfico
                </label>

                <label class="col-md-4 checkbox-inline mb-3" for="checkboxes-0">
                  <input class="mb-2" type="checkbox" name="categorias[]" id="checkboxes-2" value="digweb" formControlName="digweb">
                  dig—<br>web
                </label> 
                <label class="col-md-4 checkbox-inline mb-3" for="checkboxes-0">
                  <input class="mb-2" type="checkbox" name="categorias[]" id="checkboxes-3" value="fotografia" formControlName="fotografia">
                  foto—<br>grafía
                </label>
                <label class="col-md-4 checkbox-inline mb-3" for="checkboxes-4">
                  <input class="mb-2" type="checkbox" name="categorias[]" id="checkboxes-4" value="instalacion" formControlName="instalacion">
                  instala—<br>ción
                </label>
  
                <label class="col-md-4 checkbox-inline mb-3" for="checkboxes-5">
                  <input class="mb-2" type="checkbox" name="categorias[]" id="checkboxes-5" value="ilustracion" formControlName="ilustracion">
                  ilus—<br>tración
                </label>

                <label class="col-md-4 checkbox-inline mb-3" for="checkboxes-6">
                  <input class="mb-2" type="checkbox" name="categorias[]" id="checkboxes-6" value="musica" formControlName="musica">
                  musi—<br>ca
                </label> 
                <label class="col-md-4 checkbox-inline mb-3" for="checkboxes-7">
                  <input class="mb-2" type="checkbox" name="categorias[]" id="checkboxes-7" value="tattoo" formControlName="tattoo">
                  tattoo
                </label>
                <label class="col-md-4 checkbox-inline mb-3" for="checkboxes-8">
                  <input class="mb-2" type="checkbox" name="categorias[]" id="checkboxes-8" value="tipografia" formControlName="tipografia">
                  tipo—<br>grafía
                </label>
  
                <label class="col-md-4 checkbox-inline mb-3" for="checkboxes-9">
                  <input class="mb-2" type="checkbox" name="categorias[]" id="checkboxes-9" value="escultura" formControlName="escultura">
                  3D—<br>escultura
                </label>
  
                <label class="col-md-4 checkbox-inline mb-3" for="checkboxes-10">
                  <input class="mb-2" type="checkbox" name="categorias[]" id="checkboxes-10" value="otros" formControlName="otros">
                  o—<br>tros
                </label>  -->
                

        </div>
        <!-- info2 -->
      <div class="col-md-4  mt-5">
          <h3 class="mb-3 titania">2➫Autor</h3>
          <p class="info mb-5">
              <span class="titania">a.</span> 
              Rellena los campos con tu nombre de autor,<br>
              un poco de info sobre ti,<br>
              y tu foto de perfil.<br>
            </p>
      </div>
        <!-- 2-form -->
      <div class="col-md-5 mt-5"> 
        <!-- NOMBRE -->
        <div class="form-group">
          <label>nombre</label><br>
          <!-- validaciones -->
          <small *ngIf="formRegistro.controls.nombreautor.errors?.required && formRegistro.controls.nombreautor.dirty"> ⚠️ El campo nombre es obligatorio
            </small>
            <small *ngIf="formRegistro.controls.nombreautor.errors?.maxlength && formRegistro.controls.nombreautor.dirty"> ⚠️ El campo nombre tiene una extensión máx. de {{formRegistro.controls.nombreautor.errors.maxlength.requiredLength}} ,actualmente hay escritos {{formRegistro.controls.nombreautor.errors.maxlength.actualLength}}
            </small>
          <input class="mb-4" type="text" formControlName="nombreautor">
        </div>
        <!-- MAIL -->
        <div class="form-group">
        <label>mail</label><br>

        <input class="mb-4" type="mail" formControlName="email"><br>
        </div>
        
        <!-- INFO -->
        <div class="form-group ">
          <label>info</label><br>
          <!-- validaciones -->
          <small *ngIf="formRegistro.controls.infoautor.errors?.required && formRegistro.controls.infoautor.dirty"> ⚠️ Oh vaya,campo obligatorio
            </small>
            <small *ngIf="formRegistro.controls.infoautor.errors?.maxlength && formRegistro.controls.infoautor.dirty"> ⚠️Upss, campo info tiene una extensión máx. de {{formRegistro.controls.infoautor.errors.maxlength.requiredLength}} ,actualmente hay escritos {{formRegistro.controls.infoautor.errors.maxlength.actualLength}}
            </small>
          <textarea class="form-control mb-4" type="textarea" formControlName="infoautor" id="textarea2" rows="3"></textarea>
        </div>
        <!-- FOTO PERFIL -->
        <div class="form row mb-4">
            <label>foto perfil
              <input class="btn custom-boton insertfile" type="file" formControlname="picautor">
            </label>
        </div>
        <!-- RRSS -->
        <div class="form-group ">
          <label>rrss</label><br>

          <div class="input-group mb-2">
              <div class="input-group-prepend row">
                <span class="input-group-text" id="basic-addon3">
                https://www.instagram.com/</span>
              </div>
              <input type="text" formControlname="ig" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>

          <div class="input-group mb-2">
              <div class="input-group-prepend row">
                <span class="input-group-text" id="basic-addon3">
                    https://www.behance.net/</span>
              </div>
              <input type="text" formControlname="be" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>

          <div class="input-group mb-2">
              <div class="input-group-prepend row">
                <span class="input-group-text" id="basic-addon3">
                https://www.</span>
              </div>
              <input type="text" formControlname="web" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>
        </div>
      </div> 
    </div>

    <!-- BOTON -->
    <button (click)="updatePieza()" class="form-group col-sm-2" type="submit" [disabled]="!formRegistro.invalid"> Resgistrar </button> 
  </form>
  </div>
  <!-- [ngClass]="{ 'button-disabled': formRegistro.invalid } " [disabled]="formRegistro.invalid" -->