<h2 class="header pb-2 mt-4 mb-5 text-left">
  Registra tu <span class="titania">pieza</span>! 
</h2>
<!-- <form novalidate
[formGroup]="formRegistro"
(ngSubmit)="manejarFormulario()">
<div> 
  <label> 🙋🏽‍♀️🙋🏽‍♂️* </label><br>
  <input type="text" formControlName="nombre"><br>
  <small *ngIf="formRegistro.controls.nombre.errors?.required && formRegistro.controls.nombre.dirty"> ⚠️ El campo nombre es obligatorio
  </small>
  <small *ngIf="formRegistro.controls.nombre.errors?.maxlength && formRegistro.controls.nombre.dirty"> ⚠️ El campo nombre tiene un tamaño máx. de {{formRegistro.controls.nombre.errors.maxlength.requiredLength}} ,actualmente hay escritos {{formRegistro.controls.nombre.errors.maxlength.actualLength}} 😚
  </small>
</div> 
<div> 
  <label> 💌 *</label><br>
  <input type="mail" formControlName="email"><br>
  <small *ngIf="formRegistro.controls.email.errors?.required && formRegistro.controls.email.dirty"> ⚠️ El campo email es obligatorio
    </small>
    <small *ngIf="formRegistro.controls.email.errors?.pattern && formRegistro.controls.email.dirty"> El email debe estar escrito correctamente😚
      </small>
</div>
<div> 
    <label> 🤫*</label><br>
    <input type="password" formControlName="clave"><br>
    <small *ngIf="formRegistro.controls.clave.errors?.required && formRegistro.controls.clave.dirty"> ⚠️ La contraseña es obligatoria
      </small>
      <small *ngIf="formRegistro.controls.clave.errors?.pattern && formRegistro.controls.clave.dirty"> La contraseña debe tener: aA1?😚
        </small>
  </div>
<div> 
  <label> 📱 </label><br>
  <input type="tel" formControlName="telefono"><br>
</div>
<div> 
  <label>🎂</label><br>
  <input type="text" formControlName="birth"><br>
  <small *ngIf="formRegistro.controls.birth.errors?.birth && formRegistro.controls.birth.dirty"> 
    {{formRegistro.controls.birth.errors.birth}}
    </small>
</div>
<div> 
  <label>💬</label><br>
  <input type="text" formControlName="dni"><br>
</div>
  <button type="submit" [ngClass]="{ 'button-disabled': formRegistro.invalid } " [disabled]="formRegistro.invalid"> 💾SAVE💾 </button>
</form> -->

<!-- {{formRegistro.valid}} -->

<div class="container">
  <form>
    
    <div class="form row">
      
      <!-- info1 -->
      <div class="col-4 mb-5">
        <h3 class="mb-3 titania">1➫Pieza</h3>
        <p class="info mb-5">Rellena estos campos con los datos de la pieza que quieras exponer en nuestra galería virtual.<br>Nos llegará tu petición, <br>la validaremos y en un período de 5 días máximo recibirás una respuesta!</p>
      </div>
      <!-- form1 -->
        <div class="col-5 mb-5"> 
          <div class="form-group ">
            <label>título</label><br>
            <input class="mb-4" type="text" name="nombre">
          </div>
          <div class="form-group ">
            <label>info</label>
            <textarea class="form-control mb-4" type="textarea" id="exampleFormControlTextarea1" rows="4"></textarea>
          </div>
          <div class="form-group custom-file">
            <label>cover</label><br>
                <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
          </div>
          <div class="form-group ">
            <label>pieza</label><br>
            <input class="mb-4" type="file" class="insterfile" lang="es">
          </div>
        </div>
      <!-- info2 -->
      <div class="col-4 mt-5">
          <h3 class="mb-3 titania">2➫Autor</h3>
          <p class="info mb-5">Rellena estos campos con los datos de la pieza que quieras exponer en nuestra galería virtual. Nos llegará tu petición y en un período de 5 días máximo recibirás una respuesta!</p>
      </div>
        <!-- form2 -->
      <div class="col-5 mt-5"> 
        <div class="form-group ">
          <label>nombre</label><br>
          <input class="mb-4" type="text" name="nombre">
        </div>
        <div class="form-group ">
          <label>info</label><br>
          <textarea class="form-control mb-4" type="textarea" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group ">
          <label>cover</label><br>
          <input class="mb-4" type="file" class="insterfile" lang="es">
        </div>
        <div class="form-group ">
          <label>pieza</label><br>
          <input class="mb-4" type="file" class="insterfile" lang="es">
        </div>
      </div> 

    <!-- <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email"> -->  
    </div>
    <!-- boton -->
    
    <button  class="form-group col-sm-2" type="submit"> Resgistrar </button>
  
  </form>
  </div>
