<div class="container-fluid">

  <!-- Inicio Sidebar Archivo -->
  <div class="menu sidebar col-lg-3" *ngFor="let a of autor">
    <!-- añadir collapse sidebar -->
    <div class="menu-artista">
      <div class="title">
        <p>artista</p> 
      </div>
      <div class="profile">
        <p>{{a.nombre}}</p>
      </div>
      <div class="social" *ngIf="a.be">
        <a [href]="a.be">
          <p>
            <i class="fab fa-behance-square"></i>
          </p>
        </a>
        <a [href]="a.ig" *ngIf="a.ig">
          <p>
            <i class="fab fa-instagram"></i>
          </p>
        </a>
        <a [href]="a.web" *ngIf="a.web">
          <p>
            web icon
          </p>
        </a>
      </div>
    </div>
    <div class="menu-pieza">
      <div class="title">
        <p>obras</p>
      </div>
      <div class="piezas row" *ngFor="let p of autor.piezas">
        <a href="#"> <!-- según se pinche en cada carpeta, la cover y la descripcion de la obra/No.X va cambiando -->
          <img src="../../assets/images/recurso-carpeta.svg" alt="folder">
          <p>{{p.titulo}}</p> 
        </a>
      </div>
      
    </div>
  </div>
  <!-- Fin Sidebar Archivo -->
  <!-- Inicio Ventanas Info Artista/Obra -->
  <div *ngFor="let a of autor">
      <div class="ventana" id="a">
        <div class="header">
          <p>artista/info</p>
        </div>
        <div class="content">
            <p>{{a.infoautor}}</p> 
            <img [src]="a.imgautor" alt=""> 
        </div>
      </div>
  
      <div class="ventana" id="no" *ngFor="let p of autor.piezas">
          <div class="header">
              <p>obra/{{p.titulo}}</p> 
          </div>
          <div class="content">
              <p>{{p.descripcion}}</p> 
              <img [src]="p.coverpieza" alt="">
          </div>
      </div>
    </div>
    <!-- Fin Ventanas Info Artista/Obra -->

</div>