<div class="container-fluid">
  <div class="col-lg-8">
    <div id="drop-zone" class="ventana">
      <div class="header">
        <p>artista/info</p>
      </div>
      <div class="content">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum harum mollitia perferendis dolorum, unde vitae ipsam adipisci aut, dolore libero accusantium recusandae! Cupiditate atque iusto maiores? Fuga aperiam delectus maxime?</p>
          <img src="" alt="">
      </div>
    </div>

    <div class="ventana">
        <div class="header">
            <p>obra/No.X</p>
        </div>
        <div class="content">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem exercitationem, laudantium iusto necessitatibus placeat voluptate facere facilis et culpa provident sit accusamus, ex quam eius. Aspernatur quisquam necessitatibus dolores sequi?</p>
            <img src="" alt="">
        </div>
    </div>
  </div>

  <div class="menu row col-lg-3">
    <div class="menu-artista">
      <div class="title">
        <p>artista</p>
      </div>
      <div class="profile">
        <p>prof pic & nombre</p>
      </div>
      <div class="social">

      </div>
    </div>
    <div class="menu-pieza">
      <div class="title">
        <p>obras</p>
      </div>
      <div class="piezas row">
        <a href="#">
          <img src="../../assets/images/recurso-carpeta.svg" alt="folder">
          <p>No.1</p>
        </a>
      </div>
    </div>

  </div>

</div>