<div class="container-fluid jiji">

    <!-- Page Heading -->
    <h2 class="h2 mb-4">Tabla de registros</h2>
    <!-- <p class="mb-4">blablabla <a target="_blank" href="">blibli</a>.</p> -->

    <!-- DataTales REGISTROS -->
    <div class="mb-4">
      <!-- <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
      </div> -->
        <div class="table-responsive">
          <table class="table" id="dataTable" width="100%" cellspacing="0">

            <thead>
              <!-- CABECERA 1 -->
              <tr>
                <th colspan="6" class="titania cabecera">Datos Pieza</th>
                <th colspan="4" class="titania cabecera">Datos Autor</th>
                <th colspan="2" class="titania cabecera">Datos BD</th>
              </tr>
              <!-- CABECERA 2 -->
              <tr>
                <!-- estado -->
                <th class="titania">Estado</th>
                <!-- datos pieza -->
                <th class="titania">Título</th>
                <th class="titania">Descripcion</th>
                <th class="titania">Cover (url)</th>
                <th class="titania">Pieza (url)</th>
                <th class="titania">Categorías</th>
                <!-- datos artista -->
                <th class="titania">Nombre</th>
                <th class="titania">Info</th>
                <th class="titania">Imagen (url)</th>
                <th class="titania">RRSS</th>
                <!-- datos BD -->
                <th class="titania">Registro</th>
                <th class="titania">Year</th>
              </tr>
            </thead>

            <tfoot>
                <!-- CABECERA 2 -->
                <tr>
                  <!-- estado -->
                  <th class="titania">Estado</th>
                  <!-- datos pieza -->
                  <th class="titania">Título</th>
                  <th class="titania">Descripcion</th>
                  <th class="titania">Cover (url)</th>
                  <th class="titania">Pieza (url)</th>
                  <th class="titania">Categorías</th>
                  <!-- datos artista -->
                  <th class="titania">Nombre</th>
                  <th class="titania">Info</th>
                  <th class="titania">Imagen (url)</th>
                  <th class="titania">RRSS</th>
                  <!-- datos BD -->
                  <th class="titania">Registro</th>
                  <th class="titania">Year</th>
                </tr>
                <!-- CABECERA 1 -->
                <tr>
                  <th colspan="6" class="titania cabecera">Datos Pieza</th>
                  <th colspan="4" class="titania cabecera">Datos Autor</th>
                  <th colspan="2" class="titania cabecera">Datos BD</th>
                  </tr>
            </tfoot>

            <tbody>
              <tr>
                <!-- datos pieza -->
                <td> <input type="checkbox" aria-label="Checkbox for following text input"> </td>
                <td>Ej. titulo</td>
                <td>Ej. descripcion</td>
                <td>url</td>
                <td>url</td>
                <td>ej. cat</td>
                <!-- datos autor -->
                <td>Ej. nomnbre</td>
                <td>Ej. info</td>
                <td>url</td>
                <td>url</td>
                <!-- datos bd -->
                <td>ej. registro</td>
                <td>ej. año</td>
              </tr>
            </tbody>

          </table>
        </div>
    </div>
    <button class="form-group col-md-2" type="submit"> Actualizar </button>
  </div>
