<div class="container-fluid jiji">

  <!-- Page Heading -->
  <h2 class="h2 mb-4">Tabla de registros</h2>
  <!-- <p class="mb-4">blablabla <a target="_blank" href="">blibli</a>.</p> -->


  <!-- Boton signOut -->
  <button class="form-group col-md-2 button" type="submit" (click)="updateRegistros()"> Actualizar </button>
   <button class="form-group col-md-2 button" type="submit" (click)="logOut()">Log Out →</button>

    <!-- DataTales REGISTROS -->
    <div class="mb-4">
      <!-- <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
      </div> -->
        <div class="table-responsive-md">
          <table class="table table-condensed table-sm" id="dataTable" width="100%" cellspacing="0">

            <thead>
              <!-- CABECERA 1 -->
              <tr>
                <th colspan="6" class="titania cabecera">Datos Pieza</th>
                <th colspan="4" class="titania cabecera">Datos Autor</th>
                <th colspan="2" class="titania cabecera">Datos BD</th>
              </tr>
              <!-- CABECERA 2 -->
              <tr>
                <!-- estado -->
                <th class="titania">Estado</th>
                <!-- datos pieza -->
                <th class="titania">Título</th>
                <th class="titania">Descripcion</th>
                <th class="col-sm-2 titania">Cover (url)</th>
                <th class="titania">Pieza (url)</th>
                <th class="titania">Categorías</th>
                <!-- datos artista -->
                <th class="titania">Nombre</th>
                <th class="titania">Info</th>
                <th class="titania">Imagen (url)</th>
                <th class="titania">RRSS</th>
                <!-- datos BD -->
                <th class="titania">Registro</th>
                <th class="titania">Year</th>
              </tr>
            </thead>

            <tfoot>
                <!-- CABECERA 2 -->
                <tr>
                  <!-- estado -->
                  <th class="titania">Estado</th>
                  <!-- datos pieza -->
                  <th class="titania">Título</th>
                  <th class="titania">Descripcion</th>
                  <th class="titania" >Cover (url)</th>
                  <th class="titania" >Pieza (url)</th>
                  <th class="titania">Categorías</th>
                  <!-- datos artista -->
                  <th class="titania">Nombre</th>
                  <th class="titania">Info</th>
                  <th class="titania">Imagen (url)</th>
                  <th class="titania">RRSS</th>
                  <!-- datos BD -->
                  <th class="titania">Registro</th>
                  <th class="titania">Year</th>
                </tr>
                <!-- CABECERA 1 -->
                <tr>
                  <th colspan="6" class="titania cabecera">Datos Pieza</th>
                  <th colspan="4" class="titania cabecera">Datos Autor</th>
                  <th colspan="2" class="titania cabecera">Datos BD</th>
                  </tr>
            </tfoot>

            <tbody>
              <tr *ngFor="let pieza of piezas">
                <!-- datos pieza -->
                <td> <input type="checkbox" aria-label="Checkbox for following text input" (change)="mostrarPieza(pieza)" [checked]="pieza.estado"> </td>
                <td >{{pieza.titulo}}</td>
                <td>{{pieza.descripcion}}</td>
                <td><img class="url" [src]="pieza.coverpieza" alt="coverPieza"></td>
                <td>{{pieza.pieza}}</td>
                <td>
                  <ol>
                    <li *ngFor="let cat of pieza.categorias">
                    <span style="font-weight: 700;font-size: 0.8em">{{cat.id}}. </span>
                    <span style="font-size: 0.9em;">{{cat.nombre}}</span>
                    </li>
                  </ol>
              </td>
                <!-- datos autor -->
                <td>
                  <ol>
                      <li *ngFor="let autor of pieza.autores">
                      👽{{autor.nombre}}.
                      </li>
                    </ol>
                </td>
                <td class="infoautor">
                  <ol>
                      <li *ngFor="let autor of pieza.autores">
                          💬<span style="font-weight: 700;font-size: 0.8em">{{autor.nombre}}:</span> {{autor.infoautor}}.<br>
                      <br>
                      </li>
                  </ol>
                </td>
                <td>
                  <ol>
                      <li *ngFor="let autor of pieza.autores">
                        <img class="url" [src]="autor.imgautor" alt="imgAutor">
                      <br>
                      <br>
                      </li>
                  </ol>
                </td>
                <td>
                  <ol>
                      <li *ngFor="let autor of pieza.autores">
                        <span style="font-weight: 700;font-size: 0.8em">Ig: </span> {{autor.ig}} <br>
                        <span style="font-weight: 700;font-size: 0.8em">Bē: </span> {{autor.be}} <br>
                        <span style="font-weight: 700;font-size: 0.8em">www: </span> {{autor.web}} <br>
                        <br>
                      <br>
                      </li>
                  </ol>
                </td>
                <!-- datos bd -->
                <td style="font-size: 0.6em;">{{pieza.registro}}</td>
                <td>{{pieza.year}}</td>
              </tr>
            </tbody>

          </table>
        </div>
    </div>
  </div>
