*{
    font-weight: 700;
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
}

.container{
    margin-bottom: 550px;
}

.container::before{
    content: "";
	height: 75px;
	display:block;
    clear: both;
}

h2{
    font-size: 5em;
}

.info p{
    margin: 15px 0;
    font-size: 1.3em;
}

.info p .titania{
    font-size: 1.1em;
}

.titania{
    font-family: Titania;
}

#mapa{
    width: 65%;
    height: 500px;
    background-color: beige;
    margin: 20px;
    position: absolute;
    left: -500px;
    cursor: pointer;
    float: left;
}

#mapa img{
    width: 100%;
    height: auto;
}

.secciones{
    margin: 100px 0;
}

a{
    text-decoration: none;
}

h3{
    margin: 30px;
    color:white;
    font-size: 8em;
}
