<div class="container" id="urbana">
  <div class="row col-lg-12 col-md-6 col-sm-12">
    <h2>Galería urbana</h2>
  </div>
  <div class="info col-lg-6 col-md-12">
      <p>Dónde están nuestras <span class="titania">ventanas</span></p>
  </div>
  
  <div id="mapa">
    <img src="../../assets/images/video-1.gif" alt="mapa_madrid">
  </div>

  <div class="secciones col-lg-6" (mouseover)="show()" (mouseout)="hide()">
    <a href="#"><h3>Calendario</h3></a>
    <a href="#"><h3 class="titania">no-expos</h3></a>
  </div>
</div>
